
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Administrador</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #btn1-div {
            position: absolute;
            top: 30%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn2-div {
            position: absolute;
            top: 50%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn3-div {
            position: absolute;
            top: 70%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn4-div {
            position: absolute;
            top: 90%;
            right: 10%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn5-div {
            position: absolute;
            top: 115%;
            right: 20%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn6-div {
            position: absolute;
            top: 135%;
            right: 20%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }
        #btn7-div {
            position: absolute;
            top: 155%;
            right: 10%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }
        #btn8-div {
            position: absolute;
            top: 185%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }
        #btn9-div {
            position: absolute;
            top: 205%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }

        #btn10-div {
            position: absolute;
            top: 225%;
            right: 40%;
            border: 15px solid #ddc;
            padding: 20px 40px;
        }
    </style>


</head>
<body>
    <div>
        @if (Session["USUARIO"] != null)
        {
            Proyecto2.ClienteWeb.Models.Usuario userLogueado = Session["USUARIO"] as Proyecto2.ClienteWeb.Models.Usuario;
            Caja cajaAbierta = Session["CAJA"] as Caja;
            <div class="jumbotron text-center" style="margin-bottom:0">
                <h1>Panel Administrador</h1>
                <p>@userLogueado.Nombre - USUARIO: @userLogueado.Id_Usuario.ToString()</p>
                
            </div>

            <div id="btn1-div">
                <table>
                    <tr>
                        <td><h4>Usuario</h4></td>

                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vNuevoUsuario","NuevoUsuario")" class="btn btn-primary">Nuevo Usuario</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn2-div">
                <table>
                    <tr>
                        <td></td>
                        <td><h4>Log de Movimientos</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vLogGeneral","LogGeneral")" class="btn btn-success">Reporte General</a></td>
                        <td><a href="@Url.Action("vLogMensual","LogMensual")" class="btn btn-success">Movimientos Mensuales</a></td>
                        <td><a href="@Url.Action("vLogPorFecha","LogPorFecha")" class="btn btn-success">Movimientos Por Fecha</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn3-div">
                <table>
                    <tr>
                        <td></td>
                        <td><h4>Caja</h4></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vMovimientosCaja","MovimientosCaja")" class="btn btn-warning">Movimientos</a></td>
                        @if (cajaAbierta == null)
                        {
                            <td><a href="@Url.Action("vAbrirCaja","AbrirCaja")" class="btn btn-warning">Abrir</a></td>
                        }
                        else
                        {
                            <td><a href="@Url.Action("vCerrarCaja","CerrarCaja")" class="btn btn-warning">Cerrar</a></td>
                            <td><a href="@Url.Action("vEgreso","Egreso")" class="btn btn-warning">Pago Servicio</a></td>
                        }
                        <td><a href="@Url.Action("vAgregarTipoPago","AgregarTipoPago")" class="btn btn-warning">Agregar pago de servicio</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn4-div">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h4>Ventas</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vRealizarVenta","Venta")" class="btn btn-danger">Realizar Venta</a></td>
                        <td><a href="@Url.Action("vFacturas","Facturas")" class="btn btn-danger">Ver Facturas</a></td>
                        <td><a href="@Url.Action("vMayorVentaDia","Facturas")" class="btn btn-danger">Mayor venta del día</a></td>
                        <td><button type="submit" class="btn btn-danger">Producto en cantidad mas vendido del día</button></td>
                    </tr>
                </table>
            </div>

            <div id="btn5-div">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h4>Clientes</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vNuevoCliente","NuevoCliente")" class="btn btn-danger">Agregar</a></td>
                        <td><a href="@Url.Action("vModificarCliente","ModificarCliente")" class="btn btn-danger">Modificar</a></td>
                        <td><a href="@Url.Action("vEliminarCliente","EliminarCliente")" class="btn btn-danger">Eliminar</a></td>
                        <td><a href="@Url.Action("vHistorialCliente","Cliente")" class="btn btn-danger">Historial de cliente</a></td>
                        <td><button type="submit" class="btn btn-danger">Deudas por cliente</button></td>
                        <td><button type="submit" class="btn btn-danger">Abonos por cliente</button></td>
                        <td><button type="submit" class="btn btn-danger">Registrar Abono</button></td>
                        <td><a href="@Url.Action("vListadoGeneralClientes","ListadoGeneralClientes")" class="btn btn-danger">Lista Clientes</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn6-div">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><h2>Categorías</h2></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vNuevoTipoCategoria", "NuevoTipoCategoria")" class="btn btn-primary">Crear</a></td>
                        <td><a href="@Url.Action("vEliminarTipoCategoria", "EliminarTipoCategoria")" class="btn btn-primary">Eliminar</a></td>
                        <td><a href="@Url.Action("vAsignarProductoEnCategoria", "AsignarProductoEnCategoria")" class="btn btn-primary">Asignar Producto a Categoría</a></td>
                        <td><a href="@Url.Action("vProductosPorCategoria", "ProductosPorCategoria")" class="btn btn-primary">Ver Productos por Categoría</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn7-div">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><h2>Productos</h2></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vNuevoProducto", "NuevoProducto")" class="btn btn-success">Crear</a></td>
                        <td><a href="@Url.Action("vModificarProducto", "ModificarProducto")" class="btn btn-success">Modificar</a></td>
                        <td><a href="@Url.Action("vAgregandoDescuento", "AgregandoDescuentoAProducto")" class="btn btn-success">Agregar Descuento a Producto</a></td>
                        <td><a href="@Url.Action("vInventarioGeneral", "InventarioGeneral")" class="btn btn-success">Inventario General</a></td>
                        <td><a href="@Url.Action("vDetallesPorProducto", "DetallesPorProducto")" class="btn btn-success">Detalles por Producto</a></td>                      
                        <td><a href="@Url.Action("vProductosSinExistencia", "ProductosSinExistencia")" class="btn btn-success">Productos sin existencia</a></td>                        
                        <td><a href="@Url.Action("vProductosConDescuento", "ProductosConDescuento")" class="btn btn-success">Productos con descuento</a></td>                        
                    </tr>
                </table>
            </div>

            <div id="btn8-div">
                <table>
                    <tr>
                        <td></td>
                        <td><h2>Proveedores</h2></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vNuevoProveedor", "NuevoProveedor")" class="btn btn-warning">Crear</a></td>
                        <td><a href="@Url.Action("vModificarProveedor", "ModificarProveedor")" class="btn btn-warning">Modificar</a></td>
                        <td><a href="@Url.Action("vEliminarProveedor", "EliminarProveedor")" class="btn btn-warning">Eliminar</a></td>
                        <td><a href="@Url.Action("vMostrarProveedores", "MostrarProveedores")" class="btn btn-warning">Proveedores</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn9-div">
                <table>
                    <tr>
                        <td><h2>Compras</h2></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vCompraProveedor", "CompraProveedor")" class="btn btn-danger">Compra a Proveedor</a></td>
                    </tr>
                </table>
            </div>

            <div id="btn10-div">
                <table>
                    <tr>
                        <td><h2>Sesión</h2></td>
                    </tr>
                    <tr>
                        <td><a href="@Url.Action("vFinalizado","CerrarSesion")" class="btn btn-secondary">Cerrar Sesión</a></td>
                    </tr>
                </table>
            </div>


        }
        else
        {
            <h2>ERROR: INICIAR SESION</h2>
        }
    </div>
</body>
</html>

