@model List<Movimiento>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movimientos</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #form-div {
            position: absolute;
            left: 40%;
            top: 30%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    @if (Session["USUARIO"] != null)
    {
        Proyecto2.ClienteWeb.Models.Usuario userLogueado = Session["USUARIO"] as Proyecto2.ClienteWeb.Models.Usuario;
        <div class="jumbotron text-center" style="margin-bottom:0">
            @if (userLogueado.Rol_Usuario == 1)
            {
                <h1>Panel Administrador - Inventario General</h1>
            }
            else
            {
                <h1>Panel Empleado - Inventario General </h1>
            }
            <p>@userLogueado.Nombre - USUARIO: @userLogueado.Id_Usuario.ToString()</p>
            <a href="@Url.Action("vRegresar","Regresar")" class="btn btn-info">Regresar</a>
        </div>
        <div id="form-div">
            <ul class="pagination justify-content-center" style="margin:20px 0">
                <div class="container">
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>FECHA</th>
                            <th>DESCRIPCION</th>
                            <th>MONTO</th>
                            <th>SALDO DE CAJA</th>
                            <th>USUARIO</th>
                            <th>CAJA</th>
                        </tr>
                        @foreach (Movimiento item in Model)
                        {
                        <tr>
                            <td>@item.movimiento</td>
                            <td>@item.FechaHora</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Monto</td>
                            <td>@item.SaldoCaja</td>
                            <td>@item.Usuario</td>
                            <td>@item.Caja</td>
                        </tr>
                        }
                    </table>
                </div>
            </ul>
        </div>
    }
    else
    {
        <h2>ERROR: INICIAR SESIÓN</h2>
    }
</body>
</html>







